<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>GeeksForGeeks</title>
  </head>
  <body>
    <!-- Achivements -->
    <div class="achivments" id="achivments">
      <div class="achivments__header">
        <h1>Achivments</h1>
        <div class="achivments__header-underline"></div>
      </div>
      <div class="achivments__list">
        <ul>
          <li class="achivments__list-heading">
            Intern at GeeksforGeeks.
            <ul>
              <li class="achivments__list-item">Decembter, 2020 - Present.</li>
              <li class="achivments__list-item">
                Write technical articles on programming related topics.
              </li>
            </ul>
          </li>
          <br /><br />
          <li class="achivments__list-heading">
            Microsoft Learn Student Ambassador.
            <ul>
              <li class="achivments__list-item">August, 2020 - Present.</li>
              <li class="achivments__list-item">
                Conducted events and workshops on different technologies
              </li>
            </ul>
          </li>
          <br /><br />
          <li class="achivments__list-heading">
            Mentored HackTX.
            <ul>
              <li class="achivments__list-item">October, 2020.</li>
              <li class="achivments__list-item">
                Selected from Microsoft as Student Smbassador where I mentored
                students in their projects.
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
