<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>GeeksForGeeks</title>
  </head>
  <body>
    <!-- NavBar -->
    <div class="navbar">
      <div class="navbar__logo">
        <h1>GeeksForGeeks</h1>
      </div>
      <div class="navbar__menu">
        <div class="navbar__menu-button">
          <a href="#home">Home</a>
        </div>
        <div class="navbar__menu-button">
          <a href="#about">About</a>
        </div>
        <div class="navbar__menu-button">
          <a href="#projects">Projects</a>
        </div>
        <div class="navbar__menu-button">
          <a href="#achivments">Achivments</a>
        </div>
        <div class="navbar__menu-button">
          <a href="#contact">Contact</a>
        </div>
      </div>
    </div>
  </body>
</html>
