<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>GeeksForGeeks</title>
</head>
<body>
    <!-- Projects -->
    <div class="projects" id="projects">
        <div class="projects__header">
            <h1>Projects</h1>
            <div class="projects__header-underline"></div>
        </div>
       <div class="projects__body">
            <div class="projects__body-list">
                <ul>
                    <li><link>BMI calculator <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>Calculator <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>Calander <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>ChatBot <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>Contact saver <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>Daily Quiz <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>Emplyoyee Record System <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>Guess The Number-Game <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>Random Password Generator <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>Stone Paper Scissor <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>Tic Tac Toe <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>Tic Tac Toe(GUI) <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>ToDo App <i class="fa fa-arrow-right"></i></link></li>
                    <br>
                    <li><link>Travel Managemant System <i class="fa fa-arrow-right"></i></link></li>
                </ul>
            </div>
            <div class="projects__body-image">
                <img src="./assests/geeksforgeeks-12.png" alt="geeks for geeks image">
            </div>
       </div>
    </div>
</body>
</html>